* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "League-Spartan";
    src: url(fonts/LeagueSpartan-Regular.ttf);
}

@font-face {
    font-family: "ElectraLTS";
    src: url(fonts/ElectraLTS.otf);
}

@font-face {
    font-family: "AMS";
    src: url(fonts/AMS.ttf);
}

body {

    background: url(img/paper-background.jpg) center;

}
/* slider */
.slider {
    background-color: red;
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.slider-content {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    min-width: 100vw;
    animation: slider 20s linear infinite;
}

@keyframes slider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* header css */
header {
    width: 100%;
    position: relative;
    padding: 0 20px;
    padding-top: 20px;
}

.logos {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo1 {
    width: 8%;
}

#logo2 {
    width: 50%;
}

#logo3 {
    width: 10%;
}

header img {
    margin: 0 10px;
}

#links {
    position: absolute;
    right: 5px;
    bottom: 15px;
}

#links img {
    width: 20px;
    margin: 5px;
}

#links a {
    text-decoration: none;
}

#links a img:hover {
    width: 23px;
}

.ribbon {
    margin: 0 auto;
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
}

.ribbon img {
    width: 260px;
}

.ribbon div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ribbon h2 {
    font-size: 1em;
    font-family: "ElectraLTS";
}

/* nav css */
nav {
    width: 100%;
    margin-top: -16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #bf1313;
}

nav ul {
    width: fit-content;
    margin: 0 auto;
    border-top: 5px solid orange;
    border-bottom: 5px solid rgb(0, 168, 36);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    padding: 15px 20px;
    list-style: none;
}

nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    font-family: 'League-Spartan';
    color: white;
}

nav ul li:hover {
    background-color: rgba(58, 58, 58, 0.35);
}

nav img {
    position: absolute;
    top: 0;
    left: 50%;
    /* this keep it ceter in nav but it will look slightly right cide because of width of image*/
    transform: translateX(-50%);
    /* this will shift back the image half of its width */
    z-index: -1;
    height: 100%;
    opacity: .4;
}


/* category bar */
.category-bar {
    width: 100%;
    margin: 10px auto;
}

.category-bar ul {
    border-bottom: 3px solid rgba(131, 129, 129, 0.3);
    border-top: 3px solid rgba(131, 129, 129, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 5px auto;
}

.category-bar ul li {
    padding: 12px 18px;
    list-style: none;
    font-family: 'League-Spartan';
    font-size: 1.3rem;
    color: black;
}

.category-bar ul li:hover {
    background-color: white;
}

#toggleCategories {
    display: none;
}

/* main add section */
.main-add {
    width: 80%;
    height: 25.80%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main-add img {
    width: 100%;
}

/* footer section */
.footer1 {
    background-color: #E5E5E5;
    width: 100%;
    border-top: 3px solid #999999;
}

.footer2 {
    background-color: #333333;
    width: 100%;
    height: 50px;
}

.footer2 p {
    color: #A3A3A3;
    text-align: center;
    font-family: 'League-Spartan';
    line-height: 50px;
}

#footer1 {
    margin: 10px auto;
    position: relative;
    width: 80%;
    display: flex;
    margin-top: 50px;
    height: 50px;
}

#footer1 img:nth-child(1) {
    margin: 3px;
    width: 3.5%;
}

#footer1 img:nth-child(2) {
    margin: 3px;
    width: 30%;
}

#svg {
    font-size: 30px;
    line-height: 50px;
    position: absolute;
    right: 0px;
}

.footer-links {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 100px;
    justify-content: center;
    text-align: center;
}

#footer-links {
    font-family: 'League-Spartan';
    font-size: 20px;
}

#footer-links a {
    text-decoration: none;

}

#footer-links p {
    margin: 10px;
}

/* News content */
.hero {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px auto;
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: 30px;
}

.hero h1 {
    font-family: 'League-Spartan';
    position: absolute;
    top: 0;
    font-size: 2em;
    left: 10px;
}

.video-container {
    display: flex;
    gap: 15px;
    /* Space between videos */
    overflow-x: auto;
    /* Enables horizontal scrolling */
    white-space: nowrap;
    padding: 10px;
    scroll-snap-type: x mandatory;
}

.video-container iframe {
    width: 600px;
    /* Matches your news card image width */
    height: 320px;
    /* Matches your news card image height */
    border-radius: 20px;
    scroll-snap-align: start;
    flex-shrink: 0;
}


.article-cards {
    position: relative;
    display: flex;
    margin: 0 10px;
    border: none;
    width: fit-content;
}

.article-cards img {
    border-radius: 20px;
    width: 600px;
    height: 320px;
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: rgba(2, 2, 2, 0.7);
    color: white;
    font-family: "League-Spartan";
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    width: 200px;
    height: 320px;
    padding: 30px;
    word-spacing: 2px;
    line-height: 20px;
}

.card-text h2 {
    line-height: 25px;
}





/* about page css */
.sec1 {
    position: relative;
    background: url(img/about-page-background.webp) center center/cover;
    width: 100%;
    padding: 50px 50px;
}

#outer {
    width: 80%;
    margin: 20px auto;
    font-family: 'League-Spartan';
    padding: 50px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.53);
    box-shadow: 0 4px 30px rgba(53, 52, 52, 0.1);
}

#outer h1 {
    text-align: center;
    font-size: 40px;
}

#outer p {
    font-size: 20px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content img{
    margin-right: 50px;
    width: 200px;
}
.content-img{
    border-radius: 20px;
}
.outer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}
.image img{
    width: 200px;
    border-radius: 10px;
}

/* contact page css */

.contact-main {
    width: 100%;
    padding: 70px;
    background: url(img/contact-background.webp) no-repeat center center/cover;
}

.contacts {
    margin: 0 auto;
    width: 70%;
    padding: 25px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 20px 40px;
}

.feedback {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 70%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 20px 40px;
    color: black;
}


.feedback input {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: transparent;
    padding: 20px;
    margin: 10px 0;
}

.feedback input::placeholder {
    font-size: 15px;
    color: black;
}

.feedback textarea {
    margin: 10px 0;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    color: white;
}

.feedback textarea::placeholder {
    color: rgb(0, 0, 0);
}
submit{
    text-align: center;
}
/* latest page content */
.latestpage{
    width: 80%;
    margin: 20px auto;
}
.article{
    margin-bottom: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.article img{
    width: 470px;
}
#toggleContent{
    display: none;
}

/* epaper contetn */
.epaper-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.epaper-preview{
    margin: 20px auto;
}
.epaper-preview iframe{
    height: 1000px;
}


@media (max-width:1400px){
    .article{
        flex-direction: column;
    }
}

@media (max-width:500px) {
    nav ul li {
        padding: 8px;
    }

    nav ul li a {
        font-size: 1.3rem;
    }

    .category-bar ul li {
        padding: 8px 12px;
        font-size: 1.1rem;
    }

    .hidden-category {
        display: none;
    }
    
    #toggleCategories {
        display: block;
        border: none;
        background-color: rgb(0, 156, 13);
        border-radius: 10px;
        color: white;
        padding: 4px;
    }
}

@media (max-width:600px) {

    /* header */
    #links img {
        width: 14px;
        margin: 2px;
    }
    
    #logo2 {
        width: 75%;
        margin-bottom: 10px;
    }

    .ribbon img {
        width: 200px;
    }

    .ribbon h2 {
        font-size: 0.8em;
    }
    /* main add */
    .main-add{
        width: 95%;
    }

    /* footer */
    .footer2 p {
        color: #A3A3A3;
        font-size: 13px;
        line-height: 50px;
    }

    #footer1 {
        margin: 5px auto;
        margin-top: 20px;
        height: 30px;
    }

    #footer1 img:nth-child(1) {
        margin: 3px;
        width: 7%;
    }

    #footer1 img:nth-child(2) {
        margin: 2px;
        width: 60%;
    }

    #svg {
        font-size: 20px;
        line-height: 30px;
        position: absolute;
        right: 0px;
    }

    .footer-links {
        width: 95%;
        padding: 5px;
        gap: 10px 10px;
    }

    #footer-links {
        font-family: 'League-Spartan';
        font-size: 13px;
    }

    #footer-links a {
        text-decoration: none;

    }

    #footer-links p {
        margin: 10px;
    }

    /* hero section */
    .hero {
        width: 95%;
        margin: 20px auto;
        padding-top: 20px;
    }

    .hero h1 {
        font-size: 1.5em;
        left: 5px;
    }

    .video-container {
        gap: 5px;
    }

    .video-container iframe {
        width: 200px;
        height: 120px;
        border-radius: 10px;
    }

    .article-cards {
        margin: 0;
    }

    .article-cards img {
        margin: 10px 5px;
        border-radius: 10px;
        width: 200px;
        height: 120px;
    }

    .card-text {
        border-radius: 10px;
        width: 55px;
        height: 120px;
        padding: 7px;
        top: 10px;
        left: 7px;
        word-break: break-word;
    }

    .card-text h2 {
        font-size: 14px;
        line-height: 14px;
    }

    .card-text p {
        display: none;
    }
    /* latest articles */
    .latestpage{
        width: 95%;
    }
    .article img{
        width: 100%;
    }
    .hidden-content{
        display: none;
    }
    #toggleContent{
        display: block;
    }
    /* epaper page */
    .epaper-content{
        width: 95%;
    }
    .epaper-preview iframe{
        height: 550px;
    }
}
@media (max-width:800px){
    .content{
        display: flex;
        flex-direction: column;
    }
    #outer{
        width: 100%;
        margin: 20px 0;
    }
    .sec1{
        padding: 20px 20px;
    }
    #content img{
        margin-right: 0px;
        margin: 20px 0;
        width: 200px;
    }
    .contact-main{
        padding: 30px 20px;
    }
    .contacts {
        margin: 0 auto;
        width: 100%;
        font-size: 12px;
        padding: 20px;
    }
    .feedback {
        width: 100%;
        padding: 20px 30px;
    }
}
